
/* Розділ кастомних властивостей і CSS змінних */

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// ------------------------------------
// /* main title Best Sellers Books */
// ------------------------------------
.default__main-title {
  position: absolute;
  left: 420px;
  top: 112px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;

  letter-spacing: -0.04em;
}

.main-title__first-part {
  color: #111111;
}

.main-title__second-part {
  color: #4F2EE8;
}

// --------------------------
// /* main section-blocks */
// --------------------------
.categories {
  display: flex;
  padding-top: 132px;
}

.categories-list__item {
  outline: 2px solid red;
  outline-offset: -2px;
  margin-bottom: 40px;
}

// --------------------------
// /* category-blocks */
// --------------------------
.category {
  outline: 2px solid red;
  outline-offset: -2px;
  margin-bottom: 18px;
}

.books-list {
  outline: 2px solid red;
  outline-offset: -2px;

  padding: 0;
  
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

// ----------
// /* card */
// ----------

.item-img__wrap {
  outline: 2px solid red;
  outline-offset: -2px;

  width: 180px;
  height: 256px;

  position: relative;
  padding: 0px 0px 58px 0px;

  position: relative;
  overflow: hidden;
}

.item-img {
  display: block;
  max-width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 8px;

  position: absolute;
  top: 0;
  left: 0;
}

// .books-list__item {
//   position: relative;
//   overflow: hidden;
// }

.item__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  
  display: flex;
  justify-content: center;

  width: 100%;
  height: 70px;
  padding: 0;
  display: flex;
  align-items: center;
  
  background-color: #EAC645;
  transition: background-color 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.item__overlay-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #111111;

  text-transform: uppercase
}

.books-list__item:hover .item__overlay {
  transform: translateY(0%);
}

.item-title__wrap {
  outline: 2px solid red;
  outline-offset: -2px;

  padding-top: 14px;
}

.item__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;

  margin: 0;
  padding: 0;
}

.item__author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #B4AFAF;

  margin: 0;
  padding: 0;
}


// ----------
// /* btn */
// ----------

.btn-see-more__wrap {
  display: flex;
  justify-content: right;

  margin-top: 32px;

  width: 100%;
  height: 100%;
}

.btn-see-more {
  width: 124px;
  height: 46px;
  
  border: 2px solid #4F2EE8;
  border-radius: 40px;
}
