@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: DM Sans;
}

ul,
a {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --body-white-background-color: #f6f6f6;
  --body-white-firsttitle-color: #111111;
  --body-white-secondtitle-color: #4f2ee8;
  --body-black-background-color: #202024;
  --body-black-firsttitle-color: #ffffff;
  --header-white-background-color: #ffffff;
  --header-white-text-svg-color: #111111;
  --header-black-background-color: #111111;
  --header-black-text-svg-color: #ffffff;
  --header-left-btn-focus-color: #eac645;
  --header-right-btn-color: #4f2ee8;
  --header-right-btn-text-color: #ffffff;
  --categoris-white-text-color: rgba(17, 17, 17, 0.6);
  --categoris-white-focus-color: #4f2ee8;
  --categoris-white-text-color: rgba(255, 255, 255, 0.6);
  --categoris-black-focus-color: #eac645;
  --bookslist-title-color: #b4afaf;
  --books-white-title-color: #111111;
  --books-text-color: #b4afaf;
  --books-black-title-color: #ffffff;
  --books-modal-btn: 2px solid #4f2ee8;
  --books-modal-white-btn-text: #111111;
  --books-modal-black-btn-text: #ffffff;
  --books-modal-btn-hover-background-color: #4f2ee8;
  --support-background: linear-gradient(#4f2ee8, #ffffff);
  --support-text-color: #ffffff;
  --book-white-description-text-color: #111111;
  --book-black-description-text-color: #ffffff;
  --book-dump-svg-color: #ffffff;
  --book-dump-svg-background-color: #4f2ee8;
  --logout-btn: 1.5px solid #111111;
  --logout-btn-background-color: #ffffff;
  --logout-btn-color-text: #111111;
  --logout-btn-background-color-focus: #4f2ee8;
  --logout-btn-color-text-focus: #ffffff;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --font-style-bold: Bold;
  --font-style-medium: Medium;
  --font-style-regular: Regular;
  --font-style-italic: Italic;
  --background-toggle-light-theme: linear-gradient(
    rgba(79, 46, 232, 1),
    rgba(220, 220, 220, 1)
  );
  --background-toggle-dark-theme: linear-gradient(
    rgba(79, 46, 232, 1),
    rgba(104, 104, 104, 1)
  );
  --gradient-toggle: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(247, 247, 247, 1)
  );
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.light {
  background-color: var(--body-white-background-color);
}

.dark {
  background-color: var(--body-black-background-color);
}

.checkbox__div {
  position: relative;
  width: 40px;
  height: 20px;
  background: var(--background-toggle-light-theme);
  border-radius: 50px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked ~ .checkbox__div {
  background: var(--background-toggle-dark-theme);
}

.checkbox__input:checked ~ .checkbox__div::before {
  left: 21px;
}

.checkbox__div::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--gradient-toggle);
  top: 1px;
  left: 1px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 579px;
  height: 465px;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
  border: 2px solid #111111;
  background-color: #FFFFFF;
}

.modal-book {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.modal-close__btn-wrapper {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  opacity: 0.3;
  cursor: pointer;
}
.modal-close-btn:hover {
  opacity: 1;
}

.modal-book__img-container {
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 18px;
  max-width: 192px;
  height: 281px;
}

.modal-book__img {
  overflow: hidden;
  border-radius: 5px;
  width: 192px;
}

.modal-book__description {
  width: 279px;
}

.modal-book__title {
  font-size: 24px;
  line-height: 28px;
}

.modal-book__author {
  font-size: 14px;
  line-height: 18px;
  color: #B4AFAF;
}

.modal-book__about {
  width: 279px;
  height: 70px;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
}

.modal-book__button {
  width: 499px;
  padding: 20px 149px;
  border-radius: 40px;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
  background-color: #FFFFFF;
}

.modal-book__stores {
  display: flex;
  margin-top: 28px;
  justify-content: space-between;
}

.modal-book__applebook {
  margin-left: 40px;
}

.book {
  width: 60px;
}/*# sourceMappingURL=index.css.map */