<!-- <section class="categories" id="categories">
<h1 class="main-title" id="main-title"></h1>
<ul class="categories-list" id="category-list"> -->

<section class="categories" id="categories">

  <ul class="categories-list" id="category-list"></ul>
  
</section>

<!-- ---------------------------------------- -->

<!-- <section class="categories" id="categories">

  <div class="book-block">
    <ul class="book-categories"></ul>
  </div>

  <div class="book-container">
    <ul class="categories-list" id="category-list"></ul>
  </div>

</section> -->