<section class="support">
    <div class="support-container">
    <h2 class="support-title">Support Ukraine </h2>
<div class="support-thumb swiper">
    <!-- Additional required wrapper -->

        <ul class="support-list swiper-wrapper">
           
        </ul>
    </div>
    <button class="support-button-next" type="button">
        <svg width="6px" height="12px" class="support__icon" fill="#4F2EE8">
            <use href="./images/support/arrow.svg"></use>
        </svg>
    </button>
    <!-- <button class="support-button-prev" type="button">?</button> -->
    <!-- <ul>
        <li class="support_item swiper-slide"><a target="_blank" href="https://prytulafoundation.org/en"> 
          <img alt="Serhiy Prytula Charity Foundation" src="./images/support/prytula.png"></a></li>
    </ul> -->
    <!-- <span class="support-title__arms"><svg width="20px" height="32px" class="support-title__arms--icon">
        <use href='./images/support/arms.svg'></use>
    </svg></span> -->
</section>

